@model Stundenplan.Data.Stunden

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stunden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Wochentag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wochentag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stunde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stunde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fach)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fach)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schulklasse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schulklasse.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
